section {
  border: 3px solid rgb(239, 221, 193);
  padding: 5px;
}

body {
  color:rgb(239, 221, 193);
  background-image: url("https://static.vecteezy.com/system/resources/previews/024/228/995/non_2x/peonies-roses-on-pink-background-with-copy-space-abstract-natural-floral-frame-layout-with-text-space-romantic-feminine-composition-wedding-invitation-generative-ai-free-photo.jpg");
  background-size:cover;
  font-size: x-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 30px;
}

.header {
  color: rgb(239, 221, 193);
  text-align: center;
  font-size: large;
  font-family:cursive;
  background-image: url("https://garden.spoonflower.com/c/11649296/p/f/m/A9jzcoQPg7YZQxZTwLCdii9ivXI3YKalY4Aow3qfhmTgpCwk49K6hdDYyg/Pine%20Solid%20496b60.jpg");
}

.projectinfo {
  color:rgb(239, 221, 193);
  text-align: left;
  font-size: medium;
  background-image: url("https://garden.spoonflower.com/c/11649296/p/f/m/A9jzcoQPg7YZQxZTwLCdii9ivXI3YKalY4Aow3qfhmTgpCwk49K6hdDYyg/Pine%20Solid%20496b60.jpg");
  margin:20px;
  padding:40px;
  flex-direction: row;
}

.about {
  height: 200px;
  width: 200px;
  padding: 80px;
  display:flex;
}

.home {
  height: 250px;
  width: 250px;
  padding: 10px;
  gap:40px;
  margin-left: 100px;
  display:flex;
  justify-content:space-between;
}

.projects {
  height: 600px;
  width: 900px;
  padding: 80px;
  display:flex;
  flex-direction:row;
}

.info {
  color:FFF8E3;
  text-align:right;
  background-image: url("https://garden.spoonflower.com/c/11649296/p/f/m/A9jzcoQPg7YZQxZTwLCdii9ivXI3YKalY4Aow3qfhmTgpCwk49K6hdDYyg/Pine%20Solid%20496b60.jpg");
}

.submit {
  text-align:right;
  color:rgb(157, 0, 55);
  font-size:medium;
}

.success {
  font-size: 1em;
  color:FFF8E3;
  text-align:right;
  background-image: url("https://garden.spoonflower.com/c/11649296/p/f/m/A9jzcoQPg7YZQxZTwLCdii9ivXI3YKalY4Aow3qfhmTgpCwk49K6hdDYyg/Pine%20Solid%20496b60.jpg");
}
  
.logo {
  height: 60px;
 }

footer {
  background-image:url("./footer.webp");
  padding: 5px;
  bottom:0;
  position:absolute;
  width:100%;
  flex:display;
}

.links {
  font-size:2vh;
  font-family:monospace;
  text-align: right;
  text-decoration: none;
  color:FFF8E3;
}

section > a {
  color:FFF8E3;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration:none;
}